<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_pencil"
        android:label="Text Viewer"
        android:roundIcon="@drawable/ic_pencil"
        android:supportsRtl="true"
        android:theme="@style/Theme.TextViewer">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TextViewer"
            android:windowSoftInputMode="adjustResize">

            <!-- Launcher -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Open text files -->

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:scheme="file" />

                <data android:mimeType="text/*" />
                <data android:mimeType="application/json" />
                <data android:mimeType="application/javascript" />
                <data android:mimeType="application/xml" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.txt" />
                <data android:pathPattern=".*\\.json" />
                <data android:pathPattern=".*\\.log" />
                <data android:pathPattern=".*\\.xml" />
                <data android:pathPattern=".*\\.md" />
            </intent-filter>

        </activity>

    </application>

</manifest>